.message {

}

.imageAndText {

}

.imageAndText img {
    height: 48px;
    width: 48px;
    background-size: cover;
    border-radius: 50px;
}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}