.message {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    /*display: flex;*/
}

.imageAndText {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.imageAndText img {
    height: 48px;
    width: 48px;
    /*background-size: cover;*/
    /*border-radius: 50px;*/
}

.text {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    color: #FFFFFF;
    background: #0066CC;
    /*box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);*/
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px 13px;
    /*position: relative;*/
}

.corner{
    height: 60px;
    width: 12px;
    background: #0066CC;
}

.cornerInner{
    height: 60px;
    width: 12px;
    background: #FFFFFF;
    border-bottom-left-radius: 12px;
}

.text:after {
    /*content: '';*/
    /*position: absolute; !* Абсолютное позиционирование *!*/
    /*right: -20px; bottom: 5px; !* Положение треугольника *!*/
    /*border: 10px solid transparent; !* Прозрачные границы *!*/
    /*border-top: 10px solid #0066CC; !* Добавляем треугольник *!*/
}

.name {
    /*display: flex;*/
    /*justify-content: flex-end;*/

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.messageText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.time {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.avatarTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
}
