.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    height: 48px;
    width: 48px;
    background-size: contain;
    border-radius: 50px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
