.friendMessage {
    max-width: 1280px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.friendImageAndText {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    color: #000000;
    background: #F5F7FB;
    /*box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);*/
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px 13px;
}

.corner{
    height: 60px;
    width: 12px;
    background: #F5F7FB;
    /*box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);*/
}

.cornerInner{
    height: 60px;
    width: 12px;
    background: #FFFFFF;
    border-bottom-right-radius: 12px;
}

.friendText:after {

}

.friendName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.friendMessageText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.friendTime {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.avatarTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 12px;
}
